body {
    background-color: black; 
 }
 h1 {
     color: black;
 }

 .topBar{
    margin: 0;
    padding: 0;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }

  .topBar img {
    height: 90px;
    background-color: black;
    width: auto; /* To maintain aspect ratio */
  }

  .topBar button {
    height: 40px;
    background-color: #1a1b1f;
    color: white;
    width: auto; /* To maintain aspect ratio */
  }

 /* Split the screen in half */
.split {
height: 85%;
position: fixed;
z-index: 1;
bottom: 0;
overflow-x: hidden;
padding-top: 20px;
}

/* Control the left side */
.left {
left: 0;
width: 25%;
height: 90%;
}

.upcoming{
    top:15%;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: black;
}

.points{
    bottom:0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: black;
    color: white;
    font-size: xx-large;
    position: fixed;
}

.middle {
left:25%;
width: 50%;
background-color: black;
}

/* Control the right side */
.right {
right: 0;
width: 25%;
background-color: black;
}

/* If you want the content centered horizontally and vertically */
.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}

.invisible-box {
    border: 2px solid #000000;
    position: absolute;
    width: 08%;
    height: 10%;
    background-color: darkgreen;
}

#box1 {
    top: 15%;
    left: 46%;
}

#box2 {
    top: 30%;
    left: 25%;
}

#box3 {
    top: 30%;
    left: 40%;
}

#box4 {
    top: 30%;
    left: 53%;
}

#box5 {
    top: 30%;
    left: 67%;
}

#box6 {
    top: 45%;
    left: 25%;
}

#box7 {
    top: 45%;
    left: 40%;
}

#box8 {
    top: 45%;
    left: 53%;
}

#box9 {
    top: 45%;
    left: 67%;
}

#box10 {
    top: 60%;
    left: 33%;
}

#box11 {
    top: 60%;
    left: 58%;
}

.draggable {
    width: 100%;
    height: 100%;
  }
  
  .draggable:hover {
    cursor: grab;
  }

.centered img {
width: 600px;
height: 500px;
}


.player_text {
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 10px;
}

.player {
    text-align: center;
    color: white;
}

.player img {
    width: 100px;
    height: auto;
}